{% extends "layout.html" %}

{% block title %}
    Bakery Security Logs
{% endblock %}

{% block main %}
    <form action="/bakery_security_logs" method="post" id="filterForm">
        <div class="mb-3 row">
            <h2>Bakery Security Logs</h2>
            <div class="col">
                <input autocomplete="off" autofocus class="form-control" id="month" name="month" placeholder="Month" required type="number" value="{{ month }}">
            </div>
            <div class="col">
                <input autocomplete="off" class="form-control" id="day" max="31" min="1" name="day" placeholder="Day" required type="number" value="{{ day }}">
            </div>
            <div class="col">
                <input autocomplete="off" class="form-control" id="hour" max="24" min="0" name="hour" placeholder="Hour" required type="number" value="{{ hour }}">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </div>
    </form>
    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>License Plate</th>
                    <th>Activity</th>
                </tr>
            </thead>
            {% if bakery_security_log %}
                <tbody>
                    {% for row in bakery_security_log %}
                        <tr>
                            <td>{{ row.hour }}:{% if row.minute < 10 %}0{% endif %}{{ row.minute }}</td>
                            <td>{{ row.license_plate}}</td>
                            <td>{{ row.activity}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="3">No results found.</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>

    <script>
        document.getElementById("filterForm").addEventListener("submit", function () {
            window.location.href = ".";
        });
    </script>
{% endblock %}