{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block main %}
    <div class="container text-center">
        <div style="position: relative;">
            <img src="/static/batman_robin.jpg" alt="Success Image" class="img-fluid mt-3" style="max-width: 400px;">
            <p class="mt-3 blinking-text" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; color: #333; font-size:20px">
                {{ success_message }}
            </p>
        </div>
    </div>
{% endblock %}
