nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Playfair Display', sans-serif;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

body {
    background-image: url('https://wallpapercave.com/wp/wp2021760.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F8ECC2; /* Fallback background color */
    font-family: 'Your Selected Font', sans-serif; /* Replace with your chosen font */
    color: #333; /* Text color on parchment */
}

.smaller-input {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cs50-duck-img {
    height: 2rem;
}

/* CSS for blinking text */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-text {
    animation: blink 1s infinite;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: x-large;
    padding: 0 0 1rem 0;
}
