{% extends "layout.html" %}

{% block title %}
    ATM Transactions
{% endblock %}

{% block main %}
    <form action="/atm_transactions" method="post" id="filterForm">
        <div class="mb-3 row">
            <h2>ATM Transactions</h2>
            <div class="col">
                <input autocomplete="off" autofocus class="form-control" id="month" name="month" placeholder="Month" required type="number" value="{{ month }}">
            </div>
            <div class="col">
                <input autocomplete="off" class="form-control" id="day" max="31" min="1" name="day" placeholder="Day" required type="number" value="{{ day }}">
            </div>
            <div class="col">
                <select class="form-control" id="atm_location" name="atm_location" placeholder="ATM Location" required type="text">
                    <option disabled {% if atm_location is none %}selected{% endif %}>ATM Location</option>
                    {% for row in location %}
                        <option value="{{ row.atm_location }}" {% if row.atm_location == atm_location %}selected{% endif %}>{{ row.atm_location }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </div>
    </form>
    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            {% if atm_transaction %}
                <tbody>
                    {% for row in atm_transaction %}
                        <tr>
                            <td>{{ row.account_number }}</td>
                            <td>{{ row.transaction_type }}</td>
                            <td>{{ row.amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="4">No results found.</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>

    <script>
        document.getElementById("filterForm").addEventListener("submit", function () {
            window.location.href = "/atm_transactions";
        });
    </script>
{% endblock %}
