{% extends "layout.html" %}

{% block title %}
    Phone Calls
{% endblock %}

{% block main %}
    <form action="/phone_calls" method="post" id="filterForm">
        <div class="mb-3 row">
            <h2>Phone Calls</h2>
            <div class="col">
                <input autocomplete="off" autofocus class="form-control" id="month" max="12" min="1" name="month" placeholder="Month" required type="number" value="{{ month }}">
            </div>
            <div class="col">
                <input autocomplete="off" class="form-control" id="day" max="31" min="1" name="day" placeholder="Day" required type="number" value="{{ day }}">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </div>
    </form>
    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th>Caller</th>
                    <th>Receiver</th>
                    <th>Duration</th>
                </tr>
            </thead>
            {% if phone_call %}
                <tbody>
                    {% for row in phone_call %}
                        <tr>
                            <td>{{  row.caller  }}</td>
                            <td>{{  row.receiver  }}</td>
                            <td>{{  row.duration  }} seconds</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan="4">No results found.</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>

    <script>
        document.getElementById("filterForm").addEventListener("submit", function () {
            window.location.href = ".";
        });
    </script>
{% endblock %}
